.content{
    
    font-family:"HCo Whitney SSm","Whitney SSm A","Whitney SSm B","WhitnBoo","ProximaNova-Regular",sans-serif;
    margin: 20px;
    padding: 22px;
}
.content h1{
	color: grey;
	 font-family:"HCo Whitney SSm","Whitney SSm A","Whitney SSm B","WhitnBoo","ProximaNova-Regular",sans-serif;
}
.content p{
	color: grey;
	 font-family:"HCo Whitney SSm","Whitney SSm A","Whitney SSm B","WhitnBoo","ProximaNova-Regular",sans-serif;
    font-size: 15px;

}
.content li{
	font-size: 15px;
	color: grey;
	font-family:"HCo Whitney SSm","Whitney SSm A","Whitney SSm B","WhitnBoo","ProximaNova-Regular",sans-serif;

}